@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root{
  font-size: 18px;
  --main-brown-color:#8B170F;
  --main-blue-color:#0F838B;
  --light-blue-color: #ebf9f1;
  --light-gray-color: #ccd9d2;
}
body{
  width: 100vw;
}
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Kode Mono", monospace;
}

/*Common styles*/
.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: var(--light-blue-color);
}

/* end of common styles */

.header {
  width: 100%;
  background-color: var(--main-blue-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1%;

}

.header .logo-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header .logo-container .logo-image{
  background-color: var(--light-blue-color);
  border-radius: 50%;
  padding: 5px;
}

.header .logo-container h2{
  color: var(--light-blue-color);
  font-size: 1rem;
  margin: 4px 10px;
}

.header .nav-bar{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header .nav-bar a{
  margin: 0 5px;
  padding: 2px 5px;
  color: var(--light-blue-color);
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.6px;
  transition: all 0.3s ease-in-out;
}

.header .nav-bar a:hover{
  border-bottom: 1.5px solid var(--main-brown-color);
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 1%;
  background-color: var(--main-blue-color);
}

.footer .col{
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer .col h4{
  color: var(--light-blue-color);
  font-size: 0.95rem;
  font-weight: 700;
}

.footer .col .links{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
}

.footer .col .links a{
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--light-gray-color);
  font-weight: 400;
}